bin/
obj/
.DS_Store
.vs/
.vscode/
.dotnet-cli-home/
.dotnet/
.keys/
artifacts/
appsettings.Local.json
*.user
*.suo
Thumbs.db

.dotnet/
*.log
*.out
*.err
*.out.log
*.err.log

.dotnet/
TelemetryStorageService/
*.log
*.out
*.err
*.out.log
*.err.log

.fake